<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <p class="navTitle">ALL QUESTIONS</p>
        <div class="signDiv">
            <a href="login.html" class="login">Log in</a>
            <a href="signup.html" class="signup">Sign up</a>
        </div>

    </nav>
    <main>
<div class="questionsPageTop">
    <p class="totalQuestions">
        21,466,329 questions
    </p>
   <form action="">
    <select name="filterByTag" id="filterByTag">
        <option value="any">choose a spesific question</option>
        <option value="flutter">flutter</option>
        <option value="mysql">mysql</option>
        <option value="php">php</option>
        <option value="css">css</option>
    </select>
    <button type="submit"><img src="img/search-solid.svg"></button>
   </form>
   <a href="askaquestion.html">Ask Question</a>
</div>
        <div class="questionCards">
            <div class="questionCard">
                <div class="questionCardLeft">
                    <p class="AnswerCounter">0 <br> answers</p>
                </div>
                <div class="questionCardRight">
                    <div class="questionCardTop">
                        <a class="questionTitle" href="">
                            Dart package to access MariaDb/Mysql with pool connection
                        </a>
                        <p class="questionText">
                            I would like an indication for a mysql/mariadb connection package with connection pooling. I
                            want to use it with Dart on the backend.
                        </p>
                    </div>
                    <div class="questionCardBottom">
                        <div class="questionTags">
                            <p class="questionTag">
                                flutter
                            </p>
                            <p class="questionTag">
                                mysql
                            </p>
                            <p class="questionTag">
                                php
                            </p>
                            <p class="questionTag">
                                mysql
                            </p>
                            <p class="questionTag">
                                php
                            </p>
                        </div>
                        <p class="questionDate">
                            answered at 12/07/2021 11PM <br> by <span>Muratdemirkiran</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="questionCard">
                <div class="questionCardLeft">
                    <p class="AnswerCounter">0 <br> answers</p>
                </div>
                <div class="questionCardRight">
                    <div class="questionCardTop">
                        <a class="questionTitle" href="">
                            Dart package to access MariaDb/Mysql with pool connection
                        </a>
                        <p class="questionText">
                            I would like an indication for a mysql/mariadb connection package with connection pooling. I
                            want to use it with Dart on the backend.
                        </p>
                    </div>
                    <div class="questionCardBottom">
                        <div class="questionTags">
                            <p class="questionTag">
                                flutter
                            </p>
                            <p class="questionTag">
                                mysql
                            </p>
                            <p class="questionTag">
                                php
                            </p>
                            <p class="questionTag">
                                mysql
                            </p>
                            <p class="questionTag">
                                php
                            </p>
                        </div>
                        <p class="questionDate">
                            answered at 12/07/2021 11PM <br> by <span>Muratdemirkiran</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="questionCard">
                <div class="questionCardLeft">
                    <p class="AnswerCounter">0 <br> answers</p>
                </div>
                <div class="questionCardRight">
                    <div class="questionCardTop">
                        <a class="questionTitle" href="">
                            Dart package to access MariaDb/Mysql with pool connection
                        </a>
                        <p class="questionText">
                            I would like an indication for a mysql/mariadb connection package with connection pooling. I
                            want to use it with Dart on the backend.
                        </p>
                    </div>
                    <div class="questionCardBottom">
                        <div class="questionTags">
                            <p class="questionTag">
                                flutter
                            </p>
                            <p class="questionTag">
                                mysql
                            </p>
                            <p class="questionTag">
                                php
                            </p>
                            <p class="questionTag">
                                mysql
                            </p>
                            <p class="questionTag">
                                php
                            </p>
                        </div>
                        <p class="questionDate">
                            answered at 12/07/2021 11PM <br> by <span>Muratdemirkiran</span>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <footer>

    </footer>
</body>

</html>