<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask A Question</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <nav>
        <p class="navTitle">ASK A QUESTION</p>
        <div class="signDiv">
            <a href="/login" class="login">Log in</a>
            <a href="/signup" class="signup">Sign up</a>
        </div>

    </nav>
    <main>

        <form action="/askquestion" method="POST" class="askQuestionForm">
            <label for="askQuestion-title">
                <b>Title</b> <br>be specific and imagine you're asking a question to another person
            </label>
            <input type="text" id="askQuestion-title" name="title"
                placeholder="e.g. how can you calculate the mass of the sun?">
            <label for="askQuestion-body">
                <b>Body</b> <br>Include all the information someone would need to answer your question
            </label>
            <textarea name="question" id="askQuestion-body cols=" 30" rows="10"></textarea>
            <label for="askQuestion-tags">
                <b>Tags</b> <br>Add up to 5 tags to describe what your question is about
            </label>
            <input type="text" id="askQuestion-tags" name="keywords"
                placeholder="e.g. (python swift django)">
            <button type="submit">Review your question</button>
        </form>
       
    </main>

    <footer>

    </footer>
</body>

</html>