<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <nav>
        <p class="navTitle">Ask Me Anything (56)</p>

        <!-- <div class="signDiv">
            <a href="/login" class="login">Log In</a>
            <a href="/signup" class="signup">Sign Up</a>
        </div> -->

        <% if (loggedIn){ %>
            <div class="signDiv">
                <form action="/logout" method="POST" class="loginForm">
                    <button type="submit">LOG OUT</button>
                </form>
            </div>
        <% } else { %>
            <div class="signDiv">
                <a href="/login" class="login">Log In</a>
                <a href="/signup" class="signup">Sign Up</a>
            </div>
        <% } %>

        

    </nav>

    </nav>
    <main class="homePage">
        <div class="cards">
            <a class="card" href="/askquestion">
                <img src="img/question-mark.svg" alt="" class="cardImg">
                <p class="cardTitle">
                    Ask a Question
                </p>
            </a>
            <a class="card" href="questions.html">
                <img src="img/conversation.svg" alt="" class="cardImg">
                <p class="cardTitle">
                    Questions
                </p>
            </a>
            <a class="card" href="questions.html">
                <img src="img/search.svg" alt="" class="cardImg">
                <p class="cardTitle">
                    Questions per Keyword
                </p>
            </a>
            <a class="card" href="questions.html">
                <img src="img/calendar.svg" alt="" class="cardImg">
                <p class="cardTitle">
                    Questions per Period
                </p>
            </a>
        </div>
    </main>

    <footer>
        <div class="footerLinks">
            <div>
                <p class="linksTitle">
                    PROJECT
                </p>
                <a href="" class="footerLink">Documentation</a>
                <a href="" class="footerLink">Github Link</a>
                <a href="" class="footerLink">Course Materials</a>
            </div>
            <div>
                <a href="" class="linksTitle">ABOUT US</a>
            </div>
            <div>
                <p href="" class="linksTitle">CONTACT US</p>
                <div class="contact">
                    <b>Address:</b>
                    <p>Lorem ipsum dolor, sit amet consectetur sit amet consectetur  adipisicing elit. Doloribus, nihil?</p>
                    <b>Email:</b>
                    <p>questin@question.com</p>
                    <b>Phones:</b>
                    <p>1232332423</p>
                </div>

            </div>
        </div>
        <div class="socialLinks">
<a href=""><img src="img/facebook-f-brands.svg" alt=""></a>
<a href=""><img src="img/twitter-brands.svg" alt=""></a>
<a href=""><img src="img/youtube-brands.svg" alt=""></a>
<a href=""><img src="img/instagram-brands.svg" alt=""></a>
        </div>
        <center>© All Rights Reserved</center>
    </footer>
</body>

</html>