.Homefooter{
    position:relative;
    bottom: 0;
    background-color: black;
    
}
/* .fotterPlacement{
    position: relative;
    top: 20%;
}
.footerLink1{
    position: relative;
    color: white;
    text-decoration: none;

}
.footerLink2{
    position: relative;
    margin-left: 12%;
    margin-right: 5%;
    color: white;
    text-decoration: none;
}
.footerLink3{
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    text-decoration: none;
}
.footerLink4{
    position: relative;
    margin-left: 5%;
    margin-right: 12%;
    color: white;
    text-decoration: none;
}
.footerLink5{
    position: relative;
    color: white;
    float: right;
    text-decoration: none;
} */